html {
    box-sizing: border-box;
    color: seashell;
    background-color: black;
    font-family: Helvetica;
    font-size: 22px;
    opacity: 0.9;
}

/* Header section */
header {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 10;
    height: 69px;
    width: 99%;
    border-bottom: 1px solid seashell;
}

#logo {
    position: fixed;
    z-index: 6;
    height: 50px;
    width: auto;
    padding-left: 10px;
}

#header-links-wrapper {
    display: inline-flex;
    align-items: center;
    position: fixed;
    height: 69px;
    right: 10px;
    z-index: 15;
}

.header-links {
    text-decoration: underline;
    padding: 15px;
}


/* Main Section */
#main-section {
    background-image: url("../images/img-mission-background.jpg");
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 1200px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}

#main-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: black;
    width: 1200px;
    height: 100px;
}

#our-mission {
    width: 200px;
    margin: 0 auto;
}

#handpicked {
    width: 1000px;
    margin: 0 auto;
}