html {
    box-sizing: border-box;
    color: seashell;
    background-color: black;
    font-family: Helvetica;
    font-size: 22px;
    opacity: 0.9;
}

/* Header section */
header {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 10;
    height: 69px;
    width: 99%;
    border-bottom: 1px solid seashell;
}

#logo {
    position: fixed;
    z-index: 6;
    height: 50px;
    width: auto;
    padding-left: 10px;
}

#header-links-wrapper {
    display: inline-flex;
    align-items: center;
    position: fixed;
    height: 69px;
    right: 10px;
    z-index: 15;
}

.header-links {
    text-decoration: underline;
    padding: 15px;
}

section {
    position: relative;
    z-index: -10;
}

/* Main Section */
#main-section {
    background-image: url("../images/img-mission-background.jpg");
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 1200px;
    top: 70px;;
    margin-left: auto;
    margin-right: auto;
}

#main-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: black;
    width: 1200px;
    height: 100px;
}

#our-mission {
    width: 200px;
    margin: 0 auto;
}

#handpicked {
    width: 1000px;
    margin: 0 auto;
}

/* Tea of the Month */
#tea-of-the-month-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    margin-top: 110px;
    margin-left: auto;
    margin-right: auto;
}

#tea-section-headers {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 136px;
}

#steeping {
    margin-top: 0;
    margin-bottom: 0;
}

#month-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 0;
}

.month-flex-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#move-right {
    margin-left: 160px;
}

#move-left {
    margin-right: 160px;
}

.month-images {
    width: 300px;
    height: 200px;
}

/* Locations Section */
#locations-pic {
    background-image: url("../images/img-locations-background.jpg");
    width: 1200px;
    height: 570px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

#locations-header {
    width: 1000px;
    height: auto;
    text-align: center;
    margin: auto auto 0 auto;
    padding-bottom: 15px;
}

.location-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    width: 300px;
    height: 300px;
    margin: 20px;
    margin-top: 0;
    opacity: 1;
}

.loc-deets {
    margin: 0;
}

/* Contact Section */
#contact-deets {
    height: 200px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    padding-top: 0;
}

#tea-contact {
    margin-top: 15px;
}

#phone-number {
    margin-top: 0;
}

#copyright {
    padding-left: 0;
    margin-left: 20px;
}